body{
    background:#fff4c1;
    text-align: center;
    margin: 50px;
}
.capa{
    width: 100%;
}
.introducao{
    padding: 25px;
}
.beneficios{
    margin: 20px;
    padding:20px;
    background-color: rgb(255, 223, 61);
    text-align: left;
}
ul{
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    margin-right: 50px;
}
li{
    padding: 7px;
}
.foto-beneficios{
    width: 200px;
}