body{
    background:#fff4c1;
    text-align: center;
    margin: 50px;
}
nav{
    position: absolute;
    top: 100px;
    right: 75px;
}
nav a{
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 20px;
    font-size: 20px;
    color: rgb(255, 162, 23); 
}
nav a:hover{
    font-size: 22px;
    font-weight: bold;
    color: rgb(255, 89, 0);
    transition: 0.75s;
}
h3{
    text-align: left;
}
.logo{
    width: 10%;
    border-radius: 100%;
}
.capa{
    width: 100%;
}
.introducao{
    padding: 25px;
}
.beneficios{
    margin: 20px;
    padding:20px;
    background-color: rgb(255, 223, 61);
    text-align: left;
}
ul{
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    margin-right: 50px;
}
li{
    padding: 7px;
}
.foto-beneficios{
    width: 200px;
}